.header{
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    top: 30px;
}
/* .header{
    min-height: 979px;
    background:#ffffff url(../../images/fone1.jpg)no-repeat center;
    background-size:cover;
} */
.menu li{
    display: inline-block;
}
.header__inner{
    /* padding-top: 35px; */
    display: flex;
    justify-content: space-between;
    }
.menu a{
    font-size: 18px;
    margin-top: 18px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-left: 51px;
}
.menu a:hover{
    color:#c1d145;
    transition: all 0.2s;
}
.menu a:active{
    color: #000000;
}



