.header{
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    top: 30px;
}
.menu li{
    display: inline-block;
}
.header__inner{
    display: flex;
    justify-content: space-between;
     @media (max-width: 550px) {
      display: block;
      text-align: center;
    }
}
.menu a{
    font-size: 18px;
    margin-top: 18px;
    letter-spacing: 0.01em;
    color: #000000;
    margin-left: 51px;
}
.menu a:hover{
    color:#c1d145;
    transition: all 0.2s;
}
.menu a:active{
    color: #000000;
}



