.form-page{
    min-height: 979px;
    background:#ffffff url('../../images/fone1.jpg')no-repeat top center;
    background-size:cover;
    padding-top: 110px;
    position: relative;
    @media (max-width: 550px) {
        padding-top: 140px;
    }
}
.form-page__wrapper{
   display: flex;
   justify-content: space-between;
}
.form-page__box{
    position: relative;
    @media (max-width: 910px) {
        margin: 0 auto;
    }

}
.form-page__phone{
    top: 95px;
    right: 0;
    z-index: 5;
    height: 687px;
    @media (max-width:1170px) {
        display: none;
      }
}
.form-page__box::after{
    content: '';
    position: absolute;
    height: 624px;
    width: 624px;
    background-color: #e6ecb7;
    border-radius: 624px;
    top: -20px;
    left: 650px;
    z-index: 3;
    @media (max-width:1435px) {
        display: none;
      }
 }
 .form-page__box::before{
    content: '';
    position: absolute;
    height: 520px;
    width: 520px;
    background-color: #c1d145;
    border-radius: 520px;
    top: 37px;
    left: 703px;
    z-index: 4;
    @media (max-width:1435px) {
      display: none;
    }
 }
.form-page__title{
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    letter-spacing: 0.01em;
    max-width: 600px;
    margin: 10px 0px 20px 0px;
    @media (max-width: 670px) {
        font-size: 25px;
    }
    @media (max-width: 550px) {
        font-size: 22px;
        text-align: center;
    }
}
.form-page__lable{
    font-size: 48px;
    font-weight: bold;
    color: #c1d145;
    letter-spacing: 0.01em;
    margin: 10px 0px 20px 0px;
    @media (max-width: 550px) {
        font-size: 43px;
        text-align: center;
    }
}
.form-box{
    position: relative;
    padding: 56px 52px;
    max-width: 585px;
    background-color: #ffffff;
    box-shadow: 0px 0px 32px 0px #c1d145;
    z-index: 2;
    @media (max-width: 590px) {
        padding: 0 0 55px 0;
    }
}
.form-box__inner{
    display: flex;
    justify-content: space-between;
    @media (max-width: 590px) {
        justify-content: space-around;
    }
    @media (max-width: 530px) {
        flex-wrap: wrap;
    }
}
.form-box__right, .form-box__left{
    max-width: 225px;
    width: 100%;
    @media (max-width: 590px) {
        margin-right: 5px;
        margin-left: 5px;
      }
}
.form-box__inner label,
.form-box__inner input{
  display: block;
  width: 100%;
  outline: none;
}
.form-box__inner label{
    font-size: 14px;
    color: #000000;
    letter-spacing: 0.01em;
    margin-top:22px;
    margin-bottom: 9px;
}
.form-box__inner input{
    background-color: #ffffff;
    border: 1px solid #939393;
    height: 45px;
    padding: 0 10px;
}
.form-box__submit-btn{
    background-color: #c1d145;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.01em;
    outline: none;
    padding: 18px 73px 14px 77px;
    border:none;
    margin-top: 50px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
}
.form-box__terms{
    font-size: 14px;
    color: #c1d145;
    text-align: center;
    letter-spacing: 0.01em;
    display: block;
    margin-top: 26px;
}
.form-page-fill{
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0.01em;
    line-height: 78px;
    padding-right: 1px;
    padding-left: 30px;
    margin-top: -167px;
    position: relative;
    text-align: end;
    @media (max-width: 910px) {
      display: none;
    }
}
.form-page__fill-line{
    background-color: #c1d145;
}
.form-page-fill::before{
    content: "\e901";
    font-family: 'icomoon';
    position: absolute;
    font-size: 30px;
    right: 350px;
}
.form-box__submit-btn:hover{
    color:#c1d145;
    background-color:#ffff;
    outline: 1px solid #c1d145;
    transition: all 0.2s;
}
.form-box__submit-btn:active{
    color:#ffff;
    background-color:#c1d145;
    transition: all 0.2s;

}
.form-box__terms:hover{
    color: black;
    transition: all 0.2s;
}
.form-box__terms:active{
    color: #c1d145;
    transition: all 0.5s;
}
.form-page-fill:hover{
    font-size: 25px;
    transition: all 0.5s;
}
.form-page-fill:active{
    font-size: 24px;
    transition: all 0.5s;
}
.form-page-fill:hover::before{
    font-size: 35px;
    transition: all 0.5s;
}
#modal-1, #modal-2{
display: none;
}
.modal__inner{
display: flex;
justify-content: space-between;
font-size: 20px;
}
.modal__name{
margin-right: 20px;
}
#modal-2 textarea{
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
    border: 1px solid #e6e6e6;
    height: 110px;
    resize: none;
    padding: 10px;
}
#modal-2 label{
    color: #c1d145;
    margin-bottom:15px;
    font-size: 1.2em;
}
#modal-2 input[type="submit"]{
    display: block;
    margin-bottom: 15px;
    height: 40px;
    padding: 0 10px;
    width: 100%;
    outline: none;
    font-size: 1.2em;
    background-color:#c1d145;
    color: #fff;
    border:none;
    cursor: pointer;
}
#modal-2 input[type="submit"]:hover{

    box-shadow:inset 0 0 5px 0 white;
}
#modal-2 input[type="submit"]:active{
    background-color:white;
    outline: 1px solid #c1d145;
    color:#c1d145;
}

