
.alert-success li{
    display: inline-block;
}
.alert-success{
    margin-left: 0px;
    margin-bottom: 50px;
}
.alert-success__message{
    padding:55px;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    z-index: 6;
    position: fixed;
    left: 38%;
    top: 40%;
    /* left: 38%; */
    padding-left: 10px;
    padding-bottom: 10px;
    border: 1px solid transparent;
    border-radius: .25rem;
    &__delete{
        position: relative;
        height: 22px;
        width: 22px;
        background-color: #c5c5c5;
        top: -50px;
        cursor: pointer;
        &::after{
            position: absolute;
            font-family: 'icomoon';
            content: "\e902";
            color:#ffff;
            font-size: 20px;
            left: 1px;
        }
    &:hover{
     background-color:red;
     transition: all 0.5s;
    }
    &:active{
     background-color:#939393;
    }
  }
}
.alert-danger{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    margin-top: 20px;
    z-index: 4;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.alert-danger__message{
padding:5px 0px;
}
.profile__delete:hover{
    background-color:red;
    transition: all 0.5s;
    }
.profile__delete:active{
     background-color:#939393;
}
