.list{
    padding-top: 95px;
}
.list__inner{
padding-bottom: 200px;
}
.profile {
    min-height: 112px;
    width: 1140px;
    background-color: #ffffff;
    opacity: 1;
    visibility: visible;
  &__fild {
      margin-right: 38px;
      height: 112px;
      width: 98px;
      background-color: #c1d145;}

  &__number {
      padding-top: 45px;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      color: #ffffff;
      letter-spacing: 0.01em;}
}
.profile li{
    display: inline-block;
}
.profile ul{
margin-top: 30px;

}
.profile__name, .profile__city, .profile__age, .profile__specialty{
    padding-right: 32px;
    padding-left: 32px;
    position: relative;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0.01em;
}
.profile__name::after{
    position: absolute;
    content:"";
    height: 60px;
    width: 1px;
    background-color: #939393;
    top: -19px;
    right: 0;
}
.profile__city::after{
    position: absolute;
    content:"";
    height: 60px;
    width: 1px;
    background-color: #939393;
    top: -19px;
    right: 0;
}
.profile__age::after{
    position: absolute;
    content:"";
    height: 60px;
    width: 1px;
    background-color: #939393;
    top: -19px;
    right: 0;
}
.profile__write, .profile__call{
    background-color: #c1d145;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.01em;
    padding: 10px 38px;
}
.profile__write{
margin-left:23px;
margin-right: 15px;
}
.profile__delete{
    position: relative;
    height: 22px;
    width: 22px;
    background-color: #c5c5c5;
    margin-left: 79px;
    margin-bottom: 39px;
    cursor: pointer;
}
.profile__delete::after{
    position: absolute;
    font-family: 'icomoon';
    content: "\e902";
    color:#ffff;
    font-size: 20px;
    left: 1px;
}
.profile a:hover{
    color:#c1d145;
    background-color:#ffff;
    outline: 1px solid #c1d145;
    transition: all 0.2s;
}
.profile a:active{
    color:#ffff;
    background-color:#c1d145;
    transition: all 0.2s;
}
.profile__delete:hover{
background-color:red;
transition: all 0.5s;
}
.profile__delete:active{
    background-color:#939393;
}


