.list{
    padding-top: 95px;
    @media (max-width: 910px) {
      padding: 0;
    }
    &__inner{
        padding-bottom: 200px;
        @media (max-width: 590px) {
            padding-bottom: 150px;
        }
    }
}

.profile{
    font-family: 'Open Sans', sans-serif;
    min-height: 111px;
    max-width: 1140px;
    background-color: #ffffff;
    opacity: 1;
    visibility: visible;
    @media (max-width: 1075px) {
     width: 70%;
     margin: 0 auto;
    }
    @media (max-width: 500px) {
        width: 100%;
        margin: 0 auto;
    }
    &__item{
        position: relative;
        &:first-child{
            margin-right: 25px;
            background-color: #c1d145;
            padding: 56px;
            @media (max-width: 1105px) {
                margin-right: 0;
            }
            @media (max-width: 1075px) {
                display: none;
            }
        }
        @media (max-width: 1075px) {
            margin-top: 10px;
            margin-bottom: 15px;
            }
        &:last-child{
            margin-left: auto;
            margin-bottom: 87px;
            @media (max-width: 950px) {
            order: -1;
            margin-top: 0;
            margin-bottom: -40px;
        }
     }
    }
    &__number {
        position: absolute;
        z-index: 4;
        top:50%;
        left:46px;
        transform:translate(0px, -50%);
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        letter-spacing: 0.01em;
    }
}
.profile__list{
    display: flex;
    align-items:center;
    margin-top: 30px;
    @media (max-width: 1075px) {
        flex-direction: column;
        text-align: center;
       }
}
.profile__item{
    @media (max-width: 1075px) {
        margin-top: 10px;
        margin-bottom: 15px;
       }
    &:last-child{
     margin-left: auto;
     margin-bottom: 87px;
     @media (max-width: 1075px) {
      order: -1;
      margin-top: 0;
      margin-bottom: -40px;
      }
    }
}
.profile__name, .profile__surname, .profile__city, .profile__age, .profile__specialty{
    padding-right: 8px;
    padding-left: 23px;
    position: relative;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0.01em;
}
.profile__name{
width: 180px;
margin-bottom: 8px;
@media (max-width: 1070px) {
    margin-top: 35px;
}
}
.profile__surname{
    width: 180px;

}
.profile__city{
    width: 170px;
}
.profile__age{
    width: 64px;
}
.profile__specialty{
    width: 180px;
}
.profile__name::after{
    position: absolute;
    content:"";
    height: 60px;
    width: 1px;
    background-color: #939393;
    top: -7px;
    right: 0;
    @media (max-width: 1075px) {
    transform: rotate(90deg);
    height: 135px;
    width: 1px;
    top: -18px;
    right: 84px;
    }
}
.profile__city::after{
    position: absolute;
    content:"";
    height: 60px;
    width: 1px;
    background-color: #939393;
    top: -19px;
    right: 0;
    @media (max-width: 1075px) {
        transform: rotate(90deg);
        height: 135px;
        width: 1px;
        top: -37px;
        right: 80px;
        }
}
.profile__age::after{
    position: absolute;
    content:"";
    height: 60px;
    width: 1px;
    background-color: #939393;
    top: -20px;
    right: 0;
    @media (max-width: 1075px) {
        transform: rotate(90deg);
        height: 135px;
        width: 1px;
        top: -37px;
        right: 27px;
        }
}
.profile__write, .profile__call{
    background-color: #c1d145;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.01em;
    padding: 10px 38px;
}
.profile__write{
margin-right: 15px;
@media (max-width: 1075px) {
 margin: 0;
 }
}
.profile__delete{
    position: relative;
    height: 22px;
    width: 22px;
    background-color: #c5c5c5;
    cursor: pointer;
}
.profile__delete::after{
    position: absolute;
    font-family: 'icomoon';
    content: "\e902";
    color:#ffff;
    font-size: 20px;
    left: 1px;
}
.profile a:hover{
    color:#c1d145;
    background-color:#ffff;
    outline: 1px solid #c1d145;
    transition: all 0.2s;
}
.profile a:active{
    color:#ffff;
    background-color:#c1d145;
    transition: all 0.2s;
}
.profile__delete:hover{
background-color:red;
transition: all 0.5s;
}
.profile__delete:active{
    background-color:#939393;
}


